/*
 * CSS for pwmct.html
 */

/* display: flex; code */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
article {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 32%;
  min-width: 400px;
}
div span, div p {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
article div p {
  min-width: 200px;
}
article img {
  width: 200px;
}
form p {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Display code. */
body { padding: 0 2%; background-color: ghostwhite; display: none; }
body { font-family: "Architects+Daughter", sans-serif; }	/* not used */
h1, h2 { font-family: "Permanent Marker", serif;}
footer { font-size: x-small; border-top: thin solid gray; }
.single-digit { padding-left: 1ch; }	/* to space single-digit questions */
#result {
  width: 100%; text-align: center; color: red;
  font: normal normal normal xx-large "Permanent Marker", serif;
}
